<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="last_name-field">
  <%= form.label :last_name %>
  <%= form.password_field :last_name %>
</div>

<div class="first_name-field">
  <%= form.label :first_name %>
  <%= form.password_field :first_name %>
</div>

<div class="company_name-field">
  <%= form.label :company_name %>
  <%= form.password_field :company_name %>
</div>
